src/test/java/com/dsproj/AppTest.java
target/main-1.0-SNAPSHOT.jar
target/classes/com/dsproj/Client.class
target/classes/com/dsproj/Client$1.class
target/classes/com/dsproj/Client$2.class
target/classes/com/dsproj/node.class
target/classes/com/dsproj/node$_Fields.class
target/classes/com/dsproj/node$1.class
target/classes/com/dsproj/node$nodeStandardScheme.class
target/classes/com/dsproj/node$nodeStandardSchemeFactory.class
target/classes/com/dsproj/node$nodeTupleScheme.class
target/classes/com/dsproj/node$nodeTupleSchemeFactory.class
target/classes/com/dsproj/NodeHandler.class
target/classes/com/dsproj/NodeServer.class
target/classes/com/dsproj/NodeServer$1.class
target/classes/com/dsproj/NService.class
target/classes/com/dsproj/NService$1.class
target/classes/com/dsproj/NService$AsyncClient.class
target/classes/com/dsproj/NService$AsyncClient$coordinatorFunc_call.class
target/classes/com/dsproj/NService$AsyncClient$doRead_call.class
target/classes/com/dsproj/NService$AsyncClient$doWrite_call.class
target/classes/com/dsproj/NService$AsyncClient$Factory.class
target/classes/com/dsproj/NService$AsyncClient$formQuorumList_call.class
target/classes/com/dsproj/NService$AsyncClient$getFilesOnSystem_call.class
target/classes/com/dsproj/NService$AsyncClient$getFilesOnThisNode_call.class
target/classes/com/dsproj/NService$AsyncClient$getFileVersion_call.class
target/classes/com/dsproj/NService$AsyncClient$getHighestVersion_call.class
target/classes/com/dsproj/NService$AsyncClient$getId_call.class
target/classes/com/dsproj/NService$AsyncClient$giveRandomNode_call.class
target/classes/com/dsproj/NService$AsyncClient$ping_call.class
target/classes/com/dsproj/NService$AsyncClient$readNewestVersion_call.class
target/classes/com/dsproj/NService$AsyncClient$requestRead_call.class
target/classes/com/dsproj/NService$AsyncClient$requestWrite_call.class
target/classes/com/dsproj/NService$AsyncIface.class
target/classes/com/dsproj/NService$AsyncProcessor.class
target/classes/com/dsproj/NService$AsyncProcessor$coordinatorFunc.class
target/classes/com/dsproj/NService$AsyncProcessor$coordinatorFunc$1.class
target/classes/com/dsproj/NService$AsyncProcessor$doRead.class
target/classes/com/dsproj/NService$AsyncProcessor$doRead$1.class
target/classes/com/dsproj/NService$AsyncProcessor$doWrite.class
target/classes/com/dsproj/NService$AsyncProcessor$doWrite$1.class
target/classes/com/dsproj/NService$AsyncProcessor$formQuorumList.class
target/classes/com/dsproj/NService$AsyncProcessor$formQuorumList$1.class
target/classes/com/dsproj/NService$AsyncProcessor$getFilesOnSystem.class
target/classes/com/dsproj/NService$AsyncProcessor$getFilesOnSystem$1.class
target/classes/com/dsproj/NService$AsyncProcessor$getFilesOnThisNode.class
target/classes/com/dsproj/NService$AsyncProcessor$getFilesOnThisNode$1.class
target/classes/com/dsproj/NService$AsyncProcessor$getFileVersion.class
target/classes/com/dsproj/NService$AsyncProcessor$getFileVersion$1.class
target/classes/com/dsproj/NService$AsyncProcessor$getHighestVersion.class
target/classes/com/dsproj/NService$AsyncProcessor$getHighestVersion$1.class
target/classes/com/dsproj/NService$AsyncProcessor$getId.class
target/classes/com/dsproj/NService$AsyncProcessor$getId$1.class
target/classes/com/dsproj/NService$AsyncProcessor$giveRandomNode.class
target/classes/com/dsproj/NService$AsyncProcessor$giveRandomNode$1.class
target/classes/com/dsproj/NService$AsyncProcessor$ping.class
target/classes/com/dsproj/NService$AsyncProcessor$ping$1.class
target/classes/com/dsproj/NService$AsyncProcessor$readNewestVersion.class
target/classes/com/dsproj/NService$AsyncProcessor$readNewestVersion$1.class
target/classes/com/dsproj/NService$AsyncProcessor$requestRead.class
target/classes/com/dsproj/NService$AsyncProcessor$requestRead$1.class
target/classes/com/dsproj/NService$AsyncProcessor$requestWrite.class
target/classes/com/dsproj/NService$AsyncProcessor$requestWrite$1.class
target/classes/com/dsproj/NService$Client.class
target/classes/com/dsproj/NService$Client$Factory.class
target/classes/com/dsproj/NService$coordinatorFunc_args.class
target/classes/com/dsproj/NService$coordinatorFunc_args$_Fields.class
target/classes/com/dsproj/NService$coordinatorFunc_args$coordinatorFunc_argsStandardScheme.class
target/classes/com/dsproj/NService$coordinatorFunc_args$coordinatorFunc_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$coordinatorFunc_args$coordinatorFunc_argsTupleScheme.class
target/classes/com/dsproj/NService$coordinatorFunc_args$coordinatorFunc_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$coordinatorFunc_result.class
target/classes/com/dsproj/NService$coordinatorFunc_result$_Fields.class
target/classes/com/dsproj/NService$coordinatorFunc_result$coordinatorFunc_resultStandardScheme.class
target/classes/com/dsproj/NService$coordinatorFunc_result$coordinatorFunc_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$coordinatorFunc_result$coordinatorFunc_resultTupleScheme.class
target/classes/com/dsproj/NService$coordinatorFunc_result$coordinatorFunc_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$doRead_args.class
target/classes/com/dsproj/NService$doRead_args$_Fields.class
target/classes/com/dsproj/NService$doRead_args$doRead_argsStandardScheme.class
target/classes/com/dsproj/NService$doRead_args$doRead_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$doRead_args$doRead_argsTupleScheme.class
target/classes/com/dsproj/NService$doRead_args$doRead_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$doRead_result.class
target/classes/com/dsproj/NService$doRead_result$_Fields.class
target/classes/com/dsproj/NService$doRead_result$doRead_resultStandardScheme.class
target/classes/com/dsproj/NService$doRead_result$doRead_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$doRead_result$doRead_resultTupleScheme.class
target/classes/com/dsproj/NService$doRead_result$doRead_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$doWrite_args.class
target/classes/com/dsproj/NService$doWrite_args$_Fields.class
target/classes/com/dsproj/NService$doWrite_args$doWrite_argsStandardScheme.class
target/classes/com/dsproj/NService$doWrite_args$doWrite_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$doWrite_args$doWrite_argsTupleScheme.class
target/classes/com/dsproj/NService$doWrite_args$doWrite_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$doWrite_result.class
target/classes/com/dsproj/NService$doWrite_result$_Fields.class
target/classes/com/dsproj/NService$doWrite_result$doWrite_resultStandardScheme.class
target/classes/com/dsproj/NService$doWrite_result$doWrite_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$doWrite_result$doWrite_resultTupleScheme.class
target/classes/com/dsproj/NService$doWrite_result$doWrite_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$formQuorumList_args.class
target/classes/com/dsproj/NService$formQuorumList_args$_Fields.class
target/classes/com/dsproj/NService$formQuorumList_args$formQuorumList_argsStandardScheme.class
target/classes/com/dsproj/NService$formQuorumList_args$formQuorumList_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$formQuorumList_args$formQuorumList_argsTupleScheme.class
target/classes/com/dsproj/NService$formQuorumList_args$formQuorumList_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$formQuorumList_result.class
target/classes/com/dsproj/NService$formQuorumList_result$_Fields.class
target/classes/com/dsproj/NService$formQuorumList_result$formQuorumList_resultStandardScheme.class
target/classes/com/dsproj/NService$formQuorumList_result$formQuorumList_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$formQuorumList_result$formQuorumList_resultTupleScheme.class
target/classes/com/dsproj/NService$formQuorumList_result$formQuorumList_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnSystem_args.class
target/classes/com/dsproj/NService$getFilesOnSystem_args$_Fields.class
target/classes/com/dsproj/NService$getFilesOnSystem_args$getFilesOnSystem_argsStandardScheme.class
target/classes/com/dsproj/NService$getFilesOnSystem_args$getFilesOnSystem_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnSystem_args$getFilesOnSystem_argsTupleScheme.class
target/classes/com/dsproj/NService$getFilesOnSystem_args$getFilesOnSystem_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnSystem_result.class
target/classes/com/dsproj/NService$getFilesOnSystem_result$_Fields.class
target/classes/com/dsproj/NService$getFilesOnSystem_result$getFilesOnSystem_resultStandardScheme.class
target/classes/com/dsproj/NService$getFilesOnSystem_result$getFilesOnSystem_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnSystem_result$getFilesOnSystem_resultTupleScheme.class
target/classes/com/dsproj/NService$getFilesOnSystem_result$getFilesOnSystem_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args$_Fields.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args$getFilesOnThisNode_argsStandardScheme.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args$getFilesOnThisNode_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args$getFilesOnThisNode_argsTupleScheme.class
target/classes/com/dsproj/NService$getFilesOnThisNode_args$getFilesOnThisNode_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result$_Fields.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result$getFilesOnThisNode_resultStandardScheme.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result$getFilesOnThisNode_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result$getFilesOnThisNode_resultTupleScheme.class
target/classes/com/dsproj/NService$getFilesOnThisNode_result$getFilesOnThisNode_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFileVersion_args.class
target/classes/com/dsproj/NService$getFileVersion_args$_Fields.class
target/classes/com/dsproj/NService$getFileVersion_args$getFileVersion_argsStandardScheme.class
target/classes/com/dsproj/NService$getFileVersion_args$getFileVersion_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFileVersion_args$getFileVersion_argsTupleScheme.class
target/classes/com/dsproj/NService$getFileVersion_args$getFileVersion_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$getFileVersion_result.class
target/classes/com/dsproj/NService$getFileVersion_result$_Fields.class
target/classes/com/dsproj/NService$getFileVersion_result$getFileVersion_resultStandardScheme.class
target/classes/com/dsproj/NService$getFileVersion_result$getFileVersion_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$getFileVersion_result$getFileVersion_resultTupleScheme.class
target/classes/com/dsproj/NService$getFileVersion_result$getFileVersion_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$getHighestVersion_args.class
target/classes/com/dsproj/NService$getHighestVersion_args$_Fields.class
target/classes/com/dsproj/NService$getHighestVersion_args$getHighestVersion_argsStandardScheme.class
target/classes/com/dsproj/NService$getHighestVersion_args$getHighestVersion_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$getHighestVersion_args$getHighestVersion_argsTupleScheme.class
target/classes/com/dsproj/NService$getHighestVersion_args$getHighestVersion_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$getHighestVersion_result.class
target/classes/com/dsproj/NService$getHighestVersion_result$_Fields.class
target/classes/com/dsproj/NService$getHighestVersion_result$getHighestVersion_resultStandardScheme.class
target/classes/com/dsproj/NService$getHighestVersion_result$getHighestVersion_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$getHighestVersion_result$getHighestVersion_resultTupleScheme.class
target/classes/com/dsproj/NService$getHighestVersion_result$getHighestVersion_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$getId_args.class
target/classes/com/dsproj/NService$getId_args$_Fields.class
target/classes/com/dsproj/NService$getId_args$getId_argsStandardScheme.class
target/classes/com/dsproj/NService$getId_args$getId_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$getId_args$getId_argsTupleScheme.class
target/classes/com/dsproj/NService$getId_args$getId_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$getId_result.class
target/classes/com/dsproj/NService$getId_result$_Fields.class
target/classes/com/dsproj/NService$getId_result$getId_resultStandardScheme.class
target/classes/com/dsproj/NService$getId_result$getId_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$getId_result$getId_resultTupleScheme.class
target/classes/com/dsproj/NService$getId_result$getId_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$giveRandomNode_args.class
target/classes/com/dsproj/NService$giveRandomNode_args$_Fields.class
target/classes/com/dsproj/NService$giveRandomNode_args$giveRandomNode_argsStandardScheme.class
target/classes/com/dsproj/NService$giveRandomNode_args$giveRandomNode_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$giveRandomNode_args$giveRandomNode_argsTupleScheme.class
target/classes/com/dsproj/NService$giveRandomNode_args$giveRandomNode_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$giveRandomNode_result.class
target/classes/com/dsproj/NService$giveRandomNode_result$_Fields.class
target/classes/com/dsproj/NService$giveRandomNode_result$giveRandomNode_resultStandardScheme.class
target/classes/com/dsproj/NService$giveRandomNode_result$giveRandomNode_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$giveRandomNode_result$giveRandomNode_resultTupleScheme.class
target/classes/com/dsproj/NService$giveRandomNode_result$giveRandomNode_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$Iface.class
target/classes/com/dsproj/NService$ping_args.class
target/classes/com/dsproj/NService$ping_args$_Fields.class
target/classes/com/dsproj/NService$ping_args$ping_argsStandardScheme.class
target/classes/com/dsproj/NService$ping_args$ping_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$ping_args$ping_argsTupleScheme.class
target/classes/com/dsproj/NService$ping_args$ping_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$ping_result.class
target/classes/com/dsproj/NService$ping_result$_Fields.class
target/classes/com/dsproj/NService$ping_result$ping_resultStandardScheme.class
target/classes/com/dsproj/NService$ping_result$ping_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$ping_result$ping_resultTupleScheme.class
target/classes/com/dsproj/NService$ping_result$ping_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$Processor.class
target/classes/com/dsproj/NService$Processor$coordinatorFunc.class
target/classes/com/dsproj/NService$Processor$doRead.class
target/classes/com/dsproj/NService$Processor$doWrite.class
target/classes/com/dsproj/NService$Processor$formQuorumList.class
target/classes/com/dsproj/NService$Processor$getFilesOnSystem.class
target/classes/com/dsproj/NService$Processor$getFilesOnThisNode.class
target/classes/com/dsproj/NService$Processor$getFileVersion.class
target/classes/com/dsproj/NService$Processor$getHighestVersion.class
target/classes/com/dsproj/NService$Processor$getId.class
target/classes/com/dsproj/NService$Processor$giveRandomNode.class
target/classes/com/dsproj/NService$Processor$ping.class
target/classes/com/dsproj/NService$Processor$readNewestVersion.class
target/classes/com/dsproj/NService$Processor$requestRead.class
target/classes/com/dsproj/NService$Processor$requestWrite.class
target/classes/com/dsproj/NService$readNewestVersion_args.class
target/classes/com/dsproj/NService$readNewestVersion_args$_Fields.class
target/classes/com/dsproj/NService$readNewestVersion_args$readNewestVersion_argsStandardScheme.class
target/classes/com/dsproj/NService$readNewestVersion_args$readNewestVersion_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$readNewestVersion_args$readNewestVersion_argsTupleScheme.class
target/classes/com/dsproj/NService$readNewestVersion_args$readNewestVersion_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$readNewestVersion_result.class
target/classes/com/dsproj/NService$readNewestVersion_result$_Fields.class
target/classes/com/dsproj/NService$readNewestVersion_result$readNewestVersion_resultStandardScheme.class
target/classes/com/dsproj/NService$readNewestVersion_result$readNewestVersion_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$readNewestVersion_result$readNewestVersion_resultTupleScheme.class
target/classes/com/dsproj/NService$readNewestVersion_result$readNewestVersion_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$requestRead_args.class
target/classes/com/dsproj/NService$requestRead_args$_Fields.class
target/classes/com/dsproj/NService$requestRead_args$requestRead_argsStandardScheme.class
target/classes/com/dsproj/NService$requestRead_args$requestRead_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$requestRead_args$requestRead_argsTupleScheme.class
target/classes/com/dsproj/NService$requestRead_args$requestRead_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$requestRead_result.class
target/classes/com/dsproj/NService$requestRead_result$_Fields.class
target/classes/com/dsproj/NService$requestRead_result$requestRead_resultStandardScheme.class
target/classes/com/dsproj/NService$requestRead_result$requestRead_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$requestRead_result$requestRead_resultTupleScheme.class
target/classes/com/dsproj/NService$requestRead_result$requestRead_resultTupleSchemeFactory.class
target/classes/com/dsproj/NService$requestWrite_args.class
target/classes/com/dsproj/NService$requestWrite_args$_Fields.class
target/classes/com/dsproj/NService$requestWrite_args$requestWrite_argsStandardScheme.class
target/classes/com/dsproj/NService$requestWrite_args$requestWrite_argsStandardSchemeFactory.class
target/classes/com/dsproj/NService$requestWrite_args$requestWrite_argsTupleScheme.class
target/classes/com/dsproj/NService$requestWrite_args$requestWrite_argsTupleSchemeFactory.class
target/classes/com/dsproj/NService$requestWrite_result.class
target/classes/com/dsproj/NService$requestWrite_result$_Fields.class
target/classes/com/dsproj/NService$requestWrite_result$requestWrite_resultStandardScheme.class
target/classes/com/dsproj/NService$requestWrite_result$requestWrite_resultStandardSchemeFactory.class
target/classes/com/dsproj/NService$requestWrite_result$requestWrite_resultTupleScheme.class
target/classes/com/dsproj/NService$requestWrite_result$requestWrite_resultTupleSchemeFactory.class
target/classes/com/dsproj/requests.class
target/classes/com/dsproj/requests$_Fields.class
target/classes/com/dsproj/requests$1.class
target/classes/com/dsproj/requests$requestsStandardScheme.class
target/classes/com/dsproj/requests$requestsStandardSchemeFactory.class
target/classes/com/dsproj/requests$requestsTupleScheme.class
target/classes/com/dsproj/requests$requestsTupleSchemeFactory.class
target/classes/com/dsproj/SNServer.class
target/classes/com/dsproj/SNServer$1.class
target/classes/com/dsproj/SNServer$2.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.dsproj.AppTest.txt
target/surefire-reports/TEST-com.dsproj.AppTest.xml
target/test-classes/com/dsproj/AppTest.class
